.products{
  margin: 1rem;
  border: solid 1px black;
  padding: 10px;

  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;

}

.products .product-item{
  border: solid 1px red;


  /* width: 200px; */
  /* flex-basis: 200px; */
  /* flex-shrink: 1; */

  /* flex-grow: 1; */
  /* flex: 0 1 auto; */

  /* flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto; */

  /* flex-grow: 1; */


  flex: 0 1 200px;

  



}

.products .active{
  /* flex-shrink: 4; */
  /* flex-grow: 2; */
}
