.section-deals-of-the-day{
  padding: 2rem 4rem;
  .section-header{
    .section-title{
      color: black;
      font-size: 1.2rem;
      margin-bottom: 0;
    }
    .section-des{
      margin: 0;
      color: var(--gray);
    }
  }
  .deals-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10rem;
    height: 20rem;
    grid-gap: 1rem;
    .deal{
      border: solid 1px black;
      background-color: burlywood;
      border-radius: 1rem;
      &:first-child,  &:last-child{
        // border: solid 1px red;
        grid-column: span 2;
      }

    }

  }
}