*{
  font-family: "Poppins", 'Times New Roman', Times, serif;
  /* font-weight: 900; */
}
body{
  margin: 0;
  padding: 0;
}

:root{
  --primary: rgb(254, 236, 138);
  --secondary: rgb(246, 246,246);
  --gray: rgb(147, 147, 147);
}

.nav-links{
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  /* background-color: chocolate; */
}

.nav-link{
  text-decoration: none;
  color: black;

}

.nav-links1{
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: rgb(243, 243, 243);
  margin-bottom: 1.7rem;
}

.nav-links1 .nav-link{
  margin-right: 10px;
  color: rgb(98, 98, 98);
}

.nav-links1 .nav-link:last-child{
  margin-right: 0;
}

.navbar-container{
  padding-bottom: 1.7rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}

.fcc{
  display: flex;
  justify-content: center;
  align-items: center;
}
