*{
  font-family: "Poppins", 'Times New Roman', Times, serif;
  /* font-weight: 900; */
}
body{
  margin: 0;
  padding: 0;
}

.nav-links{
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  /* background-color: chocolate; */
}

.nav-link{
  text-decoration: none;
  color: black;

}

.nav-links1{
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: rgb(243, 243, 243);
  margin-bottom: 1.7rem;
}

.nav-links1 .nav-link{
  margin-right: 10px;
  color: rgb(98, 98, 98);
}

.nav-links1 .nav-link:last-child{
  margin-right: 0;
}

.navbar-container{
  padding-bottom: 1.7rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}

.img-frame{
  width: 100%;
  height: calc(100vh - 94px) ;
  position: relative;
  z-index: 0;
}

.img-frame img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .nav-links1 > .nav-link{
  color: red;
}

#link001{
  background-color: green;
} */

/* .nav-links1 .nav-link{
  text-decoration: none;
  color: black;
  margin: 10px;
} */
.header-content{
  position: absolute;
  transform: translate(0, -50%);
  /* top: 30%; */
  left: 2rem;
  width: 50%;
  top: 50%;
  /* left: 2rem; */
  /* bottom: 40%; */
  /* background-color: brown; */
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}
.header-title{
  margin: 0;
  text-transform: uppercase;
  font-size: 4rem;
  /* z-index: 2; */
}


.header-content .btn-discount{
  background-color: rgb(254, 236, 138);
  border: none;
  padding: .5rem 1rem;
  border-radius: 1rem;
  font-weight: 400;
  font-size: 14px;

}